.container {
  background-color: #d2d2d2; 
  border-radius: 15px; 
  padding: 20px; 
}

h2 {
  color: #343a40; 
  font-size: 1.5rem; 
  font-weight: bold; 
}

p {
  color: #6c757d; 
  font-size: 1.2rem; 
}

.thumbnail {
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail.active {
  border: 2px solid #007bff; 
}

