.container {
  background-color: #d2d2d2; /* Light gray */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Some padding */
}

h2 {
  color: #343a40; /* Dark gray */
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold; /* Bold text */
}

p {
  color: #6c757d; /* Medium gray */
  font-size: 1.2rem; /* Slightly larger font size */
}

.thumbnail {
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail.active {
  border: 2px solid #007bff; /* Blue border for active thumbnail */
}

