.blackBackground {
  background-color: black;
}

.boldText {
  font-size: 1.5rem;
}

.navbar-item:hover {
  color: #ff6347 !important; 
}

.dropdown-item:hover {
  background-color: #f8f9fa !important; 
}
