.blackBackground {
  background-color: black;
}

.boldText {
  font-size: 1.8rem;
}

.navbarText {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.navbar-item:hover {
  color: #ff6347 !important; 
}

.dropdown-item:hover {
  background-color: #f8f9fa !important; 
}
